/* @keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
} */
body {
  /* animation: transitionIn 1.75s; */
  background: #ffffff;
  columns: #000000;;
} 

#container{
  width: 80%;
  max-width: 800px;
  margin: 7rem auto;
  padding: 7rem 0 0 5rem;
}

section {
  display: block;
}

.top-menu {
  width:100vw;
  padding:3rem 0rem;
  position:fixed;
  z-index:2;
  height:100vh;
  top:0;
  left:0;
}

.page-logo {
  position:fixed;
  float:left;
  width:50%;
  padding: 0 0 0 3rem;
}

.page-links {
    position:absolute;
    top:0;
    right:0;
    margin:3.7rem 3rem 0 0;
    width:95%;
    text-align: right;
    word-spacing:1.5rem;
    letter-spacing:0.4rem;
    z-index:10;
    font-family: 'Lato';
    font-weight: bold;
}

.page-links a {
  color: #63b7af;
  text-decoration: none;
  font-size:0.9rem;
}

.page-links a:hover {
  color: #abf0e9;
  text-decoration: none;
}

.logo {
    width: 50px; 
    height: 50px;
}
 
.hi {
  font-size: 4rem;
}

.name {
  font-size: 6rem;
  columns: #000000;;
}