

/* @keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
} */

body {
  /* animation: transitionIn 1.75s; */
  /* background-color: #000000 !important; */

} 

/* top bar + main name + typed */
#container {
  width: 80%;
	max-width: 800px;
	margin: 2rem auto;
	padding: 2rem 0;
}

#text-container{
  width: 80%;
  max-width: 800px;
  margin: 10rem auto;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
}

section {
  display: block;
}

.top-menu {
  width:100vw;
  padding:3rem 0rem;
  position:absolute;
  z-index:2;
  height:100vh;
  top:0;
  left:0;
}

.page-logo {
  position:absolute;
  float:left;
  width:50%;
  padding: 0 0 0 3rem;
}

.page-links {
  position:absolute;
  top:0;
  right:0;
  margin:3.7rem 3rem 0 0;
  width:95%;
  text-align: right;
  word-spacing:1.5rem;
  letter-spacing:0.25rem;
  z-index:10;
  font-family: 'Lato';
  font-weight: bold;
}

.page-links a {
  color: #63b7af;
  text-decoration: none;
  font-size:1.1rem;
  /* background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%); */
}

.page-links a:hover {
  color: #547874;
  text-decoration: none;
}

.logo {
  width: 50px; 
  height: 50px;
}

.home-text {
  margin: 70px 0 0;
}

.hi {
  color: #000;
  font-family: "Poppins" !important;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.name {
  color: #63b7af;
  font-family: "Poppins" !important;
  font-size: 80px;
  font-weight: 600;
  margin: 0 0 20px;
  line-height: 90px;
}

.typed-css {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
}

.section-title {
  color: #000000;
  /* background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%); */
}

/* about section */
.about-container {
 width: 65%; 
 float: right;
}

.about-pic-container {
  float: left;
}

.me-pic {
  width: 120px;
  height: 120px;
  margin-left: 60%;
  border-radius: 20%;
}

.about-link {
  color: #00798C;
  text-decoration: none;
  font-weight: bold;
}

.about-link:hover {
  color: #E26D5A;
  text-decoration: none;
}

.about-icons {
  width: 20px; 
  height: 20px;
  margin-bottom: 5px;
}

.about-icons2 {
  width: 13px; 
  height: 15px;
  margin-bottom: 3px;
}

.email-me-button {
  background-color: #63b7af;
  color: white;
  font-family: 'Lato';
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
}
