* {
  margin: 0;
  padding: 0;
}
body {
  position:absolute;
  background:#121212;
  color:#fff;
  font-family: 'Montserrat';
}

/* take off the scroll bar bc it looks ugly*/
::-webkit-scrollbar {
  display:none;
}

/* using this to achieve the top stays fixed as rest scrolls over it*/
.panels {
  position:relative
}

.page-one {
  position:fixed;
  z-index:-5
}

.home-page {
  position : absolute;
  z-index:-10;
  width:100vw;
  height:100%;
}

#particles-js {
  position:fixed;
  height:100vh;
  width:100%;
}

.hello {
  margin:13rem 0 0 6rem;
}

.hi {
  margin-left:0.5rem;
  font-size: 10rem;
}

.name {
  font-size: 15rem;
  color:#bb86fc;
  line-height:10rem;
}

.typed {
  margin:2rem 1.5rem;
  font-size:3rem;
  display: inline-block;
}

.typed-cursor {
  font-size:3rem;
}

.about {
  position:relative;
  background-color:#ffffff;
  color: #121212;
  z-index: 4;
  margin-top:100vh;
}

.description {
  text-align:justify;
  padding: 11rem 30rem 0 30rem;
  font-size:1.5rem;
  line-height:2rem;
}

#hi-wave {
  font-size:3rem;
  line-height:3.2rem;
}

.description p {
  margin-top:1rem;
}

.description a {
  text-decoration: none;
  color: #c1afe4;
}

.description a:hover {
  color:#bb86fc;
}

.short-text {
  display:none;
}

.projects {
  padding-top:8rem;
  position: relative;
  background: #ffffff;
  color: #121212;
  padding-bottom:4rem;
  z-index:4;
}

.project-title {
  text-align:right;
  padding: 1rem 30rem 0 30rem;
  font-size:1.5rem;
  line-height:2rem;
}


.project-cards {
  padding:2rem 30rem 0 30rem;
  text-align:center;
  word-spacing:1.3rem;
  line-height:2rem;
}
.projects ul li {
  margin-top:1rem;
  display:inline-block;
  text-decoration: none;
  height:300px;
  background: #f2f2f2;
  color:#121212;
  width:170px;
  border-radius: 30px;
  opacity:0.8;
  text-align:center;
  word-spacing:0.1rem;
}

.project-cards ul li:hover {
  opacity:1;
}

.project-cards ul li img{
  width:100%;
  height:30%;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
}

.project-cards ul li .heading {
  word-spacing: 0rem;
  font-family: 'Helvetica Neue', sans-serif;
  margin-top:-0.7rem;
  color:#8f79a9
}
.project-cards ul li .tag {
  background:#8f79a9;
  color:#fff;
  border-radius: 30px;
  font-size:0.4rem;
  padding:0.2rem 0.5rem;
}

.project-cards ul li .project-desc {
  margin:1rem 1rem 0 1rem;
  line-height:0.8rem;
  font-size:0.8rem;
  word-spacing: 0rem;
  height:120px;
}

.hire-me {
  /*display:none;*/
  background:#fff;
  color:#121212;
  z-index:10;
  margin-top:-5px;
}

.hire-title {
  padding: 1rem 30rem 0 30rem;
  font-size:1.5rem;
  line-height:2rem;
}

.hire-desc {
  font-size:1.1rem;
  line-height:1.1rem;
  word-spacing:0.7rem;
  padding:2rem 30rem 4rem 30rem;
  text-align: justify;
}

.top-menu {
  width:100vw;
  padding:3rem 0rem;
  position:fixed;
  z-index:2;
  height:100vh;
  top:0;
  left:0;
}

.home-button {
  position:fixed;
  float:left;
  width:50%;
  padding: 0 0 0 3rem;
}

.home-button a {
  color: #ded3f2;
  font-size:2rem;
  text-decoration: none;
  z-index:100;
}

.home-button a:hover {
  color:#bb86fc
}

.page-links {
  position:absolute;
  top:0;
  right:0;
  margin:3.7rem 3rem 0 0;
  width:95%;
  text-align: right;
  word-spacing:1.5rem;
  letter-spacing:0.4rem;
  z-index:10;
}

.page-links a {
  color: #ded3f2;
  text-decoration: none;
  font-size:0.9rem;
}

.page-links a:hover {
  color: #bb86fc;
}

.social-links {
  position: fixed;
  bottom:0;
  right:0;
  margin:0 2rem 1rem 0;
  font-size:1.2rem;
  z-index:10;
}

.social-links table {
  border-width:0;
}

.social-links td a{
  color:#ded3f2;
  padding:0.4rem;
}

.social-links a:hover {
  color:#c1afe4;
}

footer {
  text-align:center;
  background:#fff;
  color: #545454;
  font-size:0.8rem;
  letter-spacing: 0.1rem;
  padding:0.5rem;
  padding-top:2.5rem;
  margin-top:-5px;
}

.justify-text {
  text-align:justify;
}

.my-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1rem; /* Place the button at the bottom of the page */
  left: 2rem; /* Place the button 30px from the right */
  z-index: 12; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8f79a9; /* Set a background color */
  color: #fff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.4rem; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 0.9rem; /* Increase font size */
  opacity:0.4;
}

.my-button:hover {
  opacity: 0.6;
}

.social-links-mobile {
  display:none;
  background:#ffffff;
}

@media only screen and (max-width: 700px) {

  .top-menu {
    display:none;
  }
  .home-page, .hello {
    display:none;
  }

  .hire-title, .project-title {
    font-size:0.9rem
  }

  .page-links {
    display:none;
  }

  .my-button {
    visibility:hidden;
    display:none;
  }

  .particle-js {
    display:none;
  }

  /* hell0-wave part */
  .body {
    align-content: center;
    background:#fff;
  }
  .panels {
    display:inline-block;
    align-content: center;
    text-align:center;
  }
  .about {
    margin-top:-2rem;
  }
  
  .description {
    margin:0 4rem;
    padding: 11rem 0 0 0;
    font-size:1.5rem;
    line-height:2.2rem;
  }
  
  #hi-wave {
    text-align:center;
    font-size:2.8rem;
    font-weight: bolder;
  }
  
  .description p {
    margin-top:1.7rem;
  }

  .short-text {
    display: contents;
  }

  /* projects part */
  
  .project-title {
    padding: 1rem 0rem 0 0rem;
    text-align:center;
    font-size:3.4rem;
    line-height:3.5rem;
  }
  
  
  .project-cards {
    padding:2rem 0rem 0 0rem;
    word-spacing:1.3rem;
    line-height:2rem;
  }

  .projects ul li {
    height:490px;
    width:260px;
  }
  
  .project-cards ul li img{
    width:100%;
    height:30%;
  }
  
  .project-cards ul li .heading {
    font-size:1.6rem;
    margin-top:0;
  }

  .project-cards ul li .tag {
    font-size:0.8rem;
    padding:0.4rem 0.7rem;
  }
  
  .project-cards ul li .project-desc {
    margin:1rem 1rem 0 1rem;
    line-height:0.8rem;
    font-size:1.2rem;
    word-spacing: 0rem;
    height:240px;
    line-height:1.7rem;
  }

  /* hire me page */
  
  .hire-title {
    padding: 1rem 0rem 0 0rem;
    line-height:2rem;
  }
  
  .hire-desc {
    margin:0 4rem;
    margin:0 4rem;
    font-size:1.4rem;
    line-height:1.4rem;
    word-spacing:1rem;
    padding:2rem 0rem 4rem 0rem;
  }

  .social-links {
    display: none;
  }
 
  .social-links-mobile {
    display:contents;
    text-align: center;
  }

  .social-links-mobile table {
    display:inline-block;
    border-width:0;
    background:#ffffff;
  }
  
  .social-links-mobile td a{
    color:#ded3f2;
    padding:0.4rem;
    font-size:1.2rem
  }
  
  .social-links-mobile a:hover {
    color:#c1afe4;
  }
  
}

@media only screen and (max-height: 600px) {
    .hello {
      margin:9rem 0 0 6rem;
    }

}